{deps, [
  {sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}},
  {mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", {branch, "master"}}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}},
  {goldrush, ".*", {git, "https://github.com/DeadZen/goldrush.git", {branch, "master"}}},
  {egeoip, ".*", {git, "https://github.com/mochi/egeoip.git", {branch, "master"}}}
]}.

{sub_dirs, ["rel", "src"]}.
{lager, [
  {handlers, [
    {lager_console_backend, [info, {lager_default_formatter, [time," [",severity,"] ", message, "\n"]}]},
    {lager_file_backend, [{file, "error.log"}, {level, error}, {formatter, lager_default_formatter},
      {formatter_config, [date, " ", time," [",severity,"] ",pid, " ", message, "\n"]}]},
    {lager_file_backend, [{file, "console.log"}, {level, info}]}
  ]}
]}.

{cover_enabled, true}.
{erl_opts, [
  warn_export_all
]}.